:root {
  --scroll-thumb-color: #006774;
  --scroll-bg-color: transparent;

  --recipient-message-bg-color: #058999;
  --sender-message-bg-color: #607d8b;

  --main-button-color: #607d8b;
  --main-color: #193c4d;
}

* {
  box-sizing: border-box;
}

html {
  font-size: 14px;
  height: 100%;
}

body {
  font-size: 14px;
  margin: 0;
  padding: 0;
  height: 100%;
}

a {
  cursor: pointer;
}