.messenger {
  display: flex;
  height: 100%;
  min-width: 100%;
}


/***
  CONVERSATION
***/
.conversation {
  width: calc(100% - 320px);
  min-height: 100%;
  display: flex;
  flex-direction: column;
}

.choose-chat {
  background-color: #0f2835;
  display: flex;
  justify-content: center;
  align-items: center;
}
.conversation__choose-chat {
  height: 100%;
}

.choose-chat__title {
  font-family: "Roboto-Medium", Arial, Helvetica, sans-serif;
  color: white;
  text-align: center;
  font-size: 4rem;
}
