:root {
  --scroll-thumb-color: #006774;
  --scroll-bg-color: transparent;

  --recipient-message-bg-color: #058999;
  --sender-message-bg-color: #607d8b;

  --main-button-color: #607d8b;
  --main-color: #193c4d;
}

* {
  box-sizing: border-box;
}

html {
  font-size: 14px;
  height: 100%;
}

body {
  font-size: 14px;
  margin: 0;
  padding: 0;
  height: 100%;
}

.messenger {
  display: flex;
  height: 100%;
  min-width: 100%;
}


/**
  LEFt ASIDE
*/

.left-aside {
  width: 320px;
  min-height: 100%;
  display: flex;
  flex-direction: column;
}

.contacts-controls {
  padding: 0px 19px 0px 16px;
  background: var(--main-color);
  border-bottom: 1px solid rgba(0, 0, 0, 0.2);
  border-right: 1px solid rgba(0, 0, 0, 0.2);
  display: flex;
  justify-content: space-between;
  min-height: 60px;
  align-items: center;
}

.contacts-controls__menu {
  color: white;
  display: flex;
  line-height: 20px;
  cursor: pointer;
  flex-direction: column;
  justify-content: center;
}
.contacts-controls__menu:active {
  color: rgba(255, 255, 255, 0.9);
}
.contacts-controls__menu i {
  font-size: 24px;
}

.contacts-controls__search {
  width: 250px;
  border-radius: 3px;
  background-color: white;
  border: none;
  outline: none;
  padding: 5px 5px 5px 15px;
  height: 25px;
}

.contacts {
  display: flex;
  background-color: var(--main-color);
  overflow-y: auto;
  scrollbar-color: var(--scroll-thumb-color) var(--scroll-bg-color);
  scrollbar-width: thin;
  height: 100%;
}
.contacts::-webkit-scrollbar {
  background-color: transparent;
  width: 5px;
}
.contacts::-webkit-scrollbar-button {
  background-color: var(--scroll-bg-color);
  height: 0px;
}
.contacts::-webkit-scrollbar-thumb {
  background: var(--scroll-thumb-color);
}

.contacts__list {
  margin: 0;
  padding: 0;
}

.person {
  display: flex;
  padding: 15px 19px 15px 16px;
  cursor: pointer;
}
.person:hover {
  background: #00bcd45c;
}

.person__avatar {
  width: 50px;
  height: 50px;
  background: white;
  border-radius: 100%;
}

.person__information {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  padding-left: 18px;
}

.person__header {
  display: flex;
  justify-content: space-between;
}

.person__name {
  color: white;
  font-size: 1rem;
  font-weight: 400;
  font-family: "Roboto-Regular", Arial, Helvetica, sans-serif;
  margin: 0;
  padding: 0;
}

.person__last-messege-date {
  font-family: "Roboto-Light", Arial, Helvetica, sans-serif;
  color: rgba(255, 255, 255, 0.56);
  line-height: 20px;
}

.person__last-messege {
  padding: 0;
  margin: 0;
  color: rgba(255, 255, 255, 0.56);
  font-family: "Roboto-Regular", Arial, Helvetica, sans-serif;
  font-size: 0.85rem;
}

/***
  CONVERSATION
***/
.conversation {
  width: calc(100% - 320px);
  min-height: 100%;
  display: flex;
  flex-direction: column;
}

.choose-chat {
  background-color: #0f2835;
  display: flex;
  justify-content: center;
  align-items: center;
}
.conversation__choose-chat {
  height: 100%;
}

.choose-chat__title {
  font-family: "Roboto-Medium", Arial, Helvetica, sans-serif;
  color: white;
  text-align: center;
  font-size: 4rem;
}
