:root {
  --scroll-thumb-color: #006774;
  --scroll-bg-color: transparent;

  --recipient-message-bg-color: #058999;
  --sender-message-bg-color: #607d8b;

  --main-button-color: #607d8b;
  --main-color: #193c4d;
}

* {
  box-sizing: border-box;
}

html {
  font-size: 14px;
  height: 100%;
}

body {
  font-size: 14px;
  margin: 0;
  padding: 0;
  height: 100%;
}

.messenger {
  display: flex;
  height: 100%;
  min-width: 100%;
}


/***
  CONVERSATION
***/
.conversation {
  width: calc(100% - 320px);
  min-height: 100%;
  display: flex;
  flex-direction: column;
}

.choose-chat {
  background-color: #0f2835;
  display: flex;
  justify-content: center;
  align-items: center;
}
.conversation__choose-chat {
  height: 100%;
}

.choose-chat__title {
  font-family: "Roboto-Medium", Arial, Helvetica, sans-serif;
  color: white;
  text-align: center;
  font-size: 4rem;
}
